### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
import pandas as pd

df = spark.read.csv("/FileStore/tables/Heart_disease_cleveland_new.csv", header=True, sep=',')
df = df.toPandas()

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,0,145,233,1,2,150,0,2.3,2,0,2,0
1,67,1,3,160,286,0,2,108,1,1.5,1,3,1,1
2,67,1,3,120,229,0,2,129,1,2.6,1,2,3,1
3,37,1,2,130,250,0,0,187,0,3.5,2,0,1,0
4,41,0,1,130,204,0,2,172,0,1.4,0,0,1,0

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df[['age','sex']]

,age,sex
0,63,1
1,67,1
2,67,1
3,37,1
4,41,0
...,...,...
298,45,1
299,68,1
300,57,1
301,57,0
302,38,1

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df.filter(like='e')

,age,sex,trestbps,restecg,exang,oldpeak,slope,target
0,63,1,145,2,0,2.3,2,0
1,67,1,160,2,1,1.5,1,1
2,67,1,120,2,1,2.6,1,1
3,37,1,130,0,0,3.5,2,0
4,41,0,130,2,0,1.4,0,0
...,...,...,...,...,...,...,...,...
298,45,1,110,0,0,1.2,1,1
299,68,1,144,0,0,3.4,1,1
300,57,1,130,0,1,1.2,1,1
301,57,0,130,2,0,0,1,1
302,38,1,138,0,0,0,0,0

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df.groupby('sex').agg(n=('sex', 'count')).reset_index().sort_values('n', ascending=False)

,sex,n
1,1,206
0,0,97

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df['age'].max()

Out[51]: '77'